---
import Layout from '../layouts/Layout.astro';
import GameList from '../components/games/GameList';
---

<Layout title="JGMFUT - All Mods">
	<main>
		<GameList client:load title="ALL MODS" />
	</main>
</Layout>

