---
import Layout from '../layouts/Layout.astro';
import GameList from '../components/games/GameList';
import type { GameData } from '../data/games';

const newModTitles = ['MAD FUT 25', 'SMOQ GAMES 25', 'MAD FUT GEN', 'NT 25'];
---

<Layout title="JGMFUT - New Mods">
	<main>
		<GameList client:load newModTitles={newModTitles} title="NEW MODS" />
	</main>
</Layout>

